<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Bienvenidos</h2>
    <div>
        <form method="POST" action="/crear_registros">
            <button type="submit">Crear 13 registros</button>
        </form>
    </div>
    <div>
        <form method="POST" action="/eliminar_registros">
            <button type="submit">Eliminar todos los registros</button>
        </form>
    </div>
    <a href="/registros">Ver todos los registros </a>
</body>
</html>