<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="../static/styles.css" media="screen,projection" />
    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>nombre</th>
            <th>nombre_compania</th>
            <th>ciudad</th>
            <th>direccion</th>
            <th>telefono</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.nombre_compania}}</td>
            <td>{{i.ciudad}}</td>
            <td>{{i.direccion}}</td>
            <td>{{i.telefono}}</td>
            
        </tr>
        {% endfor %}
    </table>
</body>
</html>