<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="../static/styles.css" media="screen,projection" />
    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table id="data-table_code">
        <tr>
            <th>nombre</th>
            <th>nombre_compania</th>
            <th>ciudad</th>
            <th>direccion</th>
            <th>telefono</th>
        </tr>
        <!--
        {% for i in data %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.nombre_compania}}</td>
            <td>{{i.ciudad}}</td>
            <td>{{i.direccion}}</td>
            <td>{{i.telefono}}</td>
            
        </tr>
        {% endfor %}-->
    </table>
   <script type="text/javascript">

        $(document).ready(function() {
            $.ajax({
                type: 'POST',
                url: "/registros",
                data: {
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                },
                beforeSend: function(){
                    console.log("Enviando request...");
                },
                success: function (response) {
                    pintarTabla(response.data);
                    $("#loader").css({"visibility": "hidden"});         
                },
                
                error: function (response) {
                  alert("Paila")
                }
            });
        });
        function pintarTabla(data){
            $('#data-table_code').DataTable().destroy();
            $('#data-table_code').show();
            $('#data-table_code').DataTable({
                dom: 'B<"clear">rtip',
                pageLength: 6,
                buttons: {
                    name: 'primary',
                    buttons: [
                    'copy', 'csv', 'excel','pdf'
                    ]
                },
                "data": data,
                "columns": [
                    { "data": "name" },
                    { "data": "nombre_compania" },
                    { "data": "ciudad" },
                    { "data": "direccion" },
                    { "data": "telefono" },    
                ], select: true,
                lengthMenu: [
                    [15, 30, 45, -1],
                    ["15 Rows", "30 Rows", "45 Rows", "Todo"]
                ],
                language: {
                    searchPlaceholder: "Buscar Datos",
                    infoEmpty: "La tabla no tiene registros",
                    zeroRecords: "Uppps, No tenemos resultados para tu busqueda",
                },
            });
    
        }
     
    </script> 
</body>
</html>